.user {
	position: absolute;
	left: 10px;
	top:30%;
	border-right: 1px solid black;
  width: 200px;
}

.computer {
	position: absolute;
	right: 10px;
	top:30%;
	border-left: 1px solid black;
  width: 200px;
  text-align: right;
}

.tie, .win, .lose {
	display: none;
	position: relative;
	text-align: center;
	margin-top:20%;
	font-size: 30px;
}