.user {
	position: absolute;
	left: 0.01px;
	top:30%;
	
}

.user img {
	padding-top: 15px;
	padding-bottom: 15px;
}

.computer {
	position: absolute;
	right: 0.01px;
	top:30%;
	
  text-align: right;
}

.computer img {
	padding-bottom: 15px;
	padding-top: 15px;
}

.tie, .win, .lose {
	display: none;
	position: relative;
	text-align: center;
	margin-top:20%;
	font-size: 30px;
}